* {
    box-sizing: border-box;
    margin: 0;
    background-color: #e8f4f8;
}

#name {
    font-size: 50px;
    padding: 15px;
    top: 50px;
    position: relative;

}

nav {
    padding: 10px;
    border: 0;
    width: 100%;
    color: #FFFF99;
    background-color: 	#FFFF99;
    position: fixed;
    z-index: 1;
}
nav ul {
    color: #FFFF99;
    background-color: 	#FFFF99;
}

.navlink {
    font-size: 20px;
    position: relative;
    display: inline-block;
    background-color: 	#FFFF99;
    padding: 10px 20px;
}